* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
  margin: auto;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}
.head {
  margin: 30px 30px;
  border: 1px solid black;
  width: 1000px;
}
.head p {
  padding: 0px 30px 60px 30px;
}
.head h1 {
  padding: 30px 30px;
}
.list {
  margin: 30px 30px;
  border: 1px solid black;
  width: 400px;
}
.list ul {
  list-style: none;
  padding-bottom: 30px;
}
.list li {
  padding: 10px 30px;
}
.list h2 {
  padding: 20px 30px;
}
.foot {
  background-color: #333;
  text-align: center;
}
.foot p {
  color: white;
  padding: 20px 0px;
}
