*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav ul{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
}
.nav ul li {
    padding: 10px 30px;
    list-style: none;
    font-size: 20px;
}
.nav a{
    text-decoration: none;
    color: white;
}
.nav{
    background-color: #2c3d51;
}
.nav h1 {
    text-align: center;
    padding: 25px 0px 10px 0px;
    color: white;
    font-size: 52px;
}
.head-p h1{
        text-align: center;
        margin-top: 80px;
    }
.card {
    margin: 50px 40px 0px 40px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #a69c9c;
}
.card img{
    border-radius: 20px 20px 0px 0px;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-content {
    padding: 20px;
    margin-top: 30px;
}
.card-content h3 {
    font-size: 36px;
    padding-bottom: 30px;
}
.card-content p{
    padding-bottom: 25px;
    color: #69737f;
}
.card-content span.price {
    font-size: 30px;
    color: red;
}
.card-content a.details {
    font-size: 26px;
    text-decoration: none;
    padding-left: 10px;
}
.foot {
    background-color: #2c3d51;
    padding: 40px;
    margin-top: 100px;
}
.foot p {
    text-align: center;
    font-size: 20px;
    color: white;
}