* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.static {
  border: 1px solid black;
  padding: 40px;
  margin: 35px;
}
.static-box {
  border: 1px solid black;
  padding: 30px;
  width: 150px;
  text-align: center;
  margin: 20px 0px;
  position: static;
}

.relative {
  border: 1px solid black;
  padding: 40px;
  margin: 35px;
}
.relative-box {
  border: 1px solid black;
  padding: 30px;
  width: 150px;
  text-align: center;
  margin: 20px 0px;
  position: relative;
}

.absolute {
  border: 1px solid black;
  padding: 40px;
  margin: 35px;
}
.absolute-box {
  border: 1px solid black;
  padding: 30px;
  width: 150px;
  text-align: center;
  margin: 20px 0px;
  position: absolute;
}

.fixed {
  border: 1px solid black;
  padding: 40px;
  margin: 35px;
}
.fixed-box {
  border: 1px solid black;
  padding: 30px;
  width: 150px;
  text-align: center;
  margin: 20px 0px;
  position: fixed;
}

.sticky {
  border: 1px solid black;
  padding: 40px;
  margin: 35px;
}
.sticky-box {
  border: 1px solid black;
  padding: 30px;
  width: 150px;
  text-align: center;
  margin: 20px 0px;
  position: sticky;
}
